*{
    transition-duration: 4s; /* This controls the smoothness of the transitions */
}
body{
    width:100%;
    margin: 0px;
    background-color: #055C1F; 
}

header{
    width: 100%;
    height: 60px;
    margin: 0px;
    background-color: #0BDB4B;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    margin-left: .5%;
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #DB1816;
}
.scriptControls{
    display: flex;
    flex-direction: column;
}
.instructions, .inputs{
    display: flex;
    justify-content: space-between;
}
h4{
    width: 18%;
    margin: 0px;
    color: #9C1210;
}
input{
    width: 17%;
    background-color: #DBB216;
    border-color: #1623DB;
}

main{
    width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000EDB; /* Do not change this color. */
}
.fishbox{
    width: 100%;
    position: relative;
    animation-name: marquee; /* After learning that marquees were depreciated, I wanted to try this with CSS animations */
    animation-delay: 0ms;
    animation-duration: 5s; /* Change for the speed of the fish */
    animation-iteration-count: infinite;
    animation-direction: alternate; /* This makes the fish go side to side and not teleport. */
    animation-timing-function: linear;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 2%;
    background-color: #000EDB; /* Do not change this color. */
}
img{
    position: relative;
    width: 15%; /* 17% max 12% min*/
}
span{
    width: 15%;
    height: 168px; /* This will change to a % when I figure out sizes after the other bugs*/
    right: 0px;
    position: absolute;
    background-color: #DBB216 ; /* Change in the script to change the fish color */
}

@keyframes marquee { /* This is what make the fish move from side to side */
    0%{
        transform: translateX(0%); /* This is the fish all the way to the right */
    }
    100%{
        transform: translateX(-85%); /* This is the fish all the way to the left */
    }
}